# Idea
.DS_Store
/.idea
*.iml

# VSCode
.vscode

# Yarn PnP
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# NextJS
## Cached files
*/**/.next/
*/**/out/

## Environment files
*/**/.env.*

## Typescript
*/**/next-env.d.ts

## Vercel
*/**/.vercel

# Turbo
.turbo
